@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    background-color:#3F0071   ;
}
h1 {
    color: #FF008E  !important;
}

button {
    background-color:#FF008E  !important;
    color: #fff !important;
}
input{
    color: rgb(160, 147, 147)  !important;
}
